body {
  margin: 60px auto;
  width: 70%;
}
nav ul, footer ul {
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #999;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
@media only screen and (min-width: 768px) {
  /* tablets and desktop */
  nav ul, footer ul {
    font-size: 1em;
  }
  h1 {
    font-size: 3em;
  }
  p {
    font-size: 1.5em;
  }
  ul.posts {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 767px) {
  /* phones */
  nav ul, footer ul {
    font-size: 1.5em;
  }
  h1 {
    font-size: 3.5em;
  }
  p {
    font-size: 2em;
  }
  ul.posts {
    font-size: 2em;
  }
}
p {
  line-height: 1.4em;
  color: #333;
}
footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}
ul.posts { 
  margin: 20px auto 40px;
}
ul.posts li {
  list-style: none;
}