<p id="stats"></p>

<script>
  document.addEventListener("DOMContentLoaded", function(){
    var request = new XMLHttpRequest();
    request.onreadystatechange = function() {
      if (request.readyState === XMLHttpRequest.DONE && request.status === 200) {
        var json = JSON.parse(request.response);
        if (json[getPathName()] != undefined) {
          document.getElementById('stats').innerHTML = `${Number(json[getPathName()]).toLocaleString()} views`;
        }
      }
    };
    request.open('GET', 'https://poanchengithubio.blob.core.windows.net/poanchen/poanchen - views.json?sp=rl&st=2020-09-12T11:36:59Z&se=2030-09-13T11:36:00Z&sv=2019-12-12&sr=b&sig=91DC1qOBflhH4wv1YnUyiPUzegnwiy1mkWaXM%2B36Ft8%3D', true);
    request.send(null);
  });
</script>
