<section class="share">
  <h3>Share</h3>
  <a aria-label="Share on Twitter" href="https://twitter.com/intent/tweet?text=&quot;{{page.title}}&quot; by &#64;{{site.twitter_username}} {{site.url}}{{page.url}}"
  onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Share on Twitter">
    <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
  </a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}"
  onclick="window.open(this.href, 'facebook-share', 'width=550,height=296');return false;" title="Share on Facebook">
    <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
  </a>
  <a href="mailto:?subject=Check out this great article, {{page.title}}&body=Hi, I found this webpage and thought you might like it, {{site.url}}{{page.url}}">
    <svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg>
  </a>
</section>