<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/monokai-sublime.min.css">
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="https://www.linkedin.com/in/poan-baron-chen-a00aa655" target="_blank">CV</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </nav>
  <div class="container">
    {{ content }}
  </div>
  <footer>
  <ul>
    <li><a href="mailto:chen.baron@hotmail.com">email</a></li>
    <li><a href="https://github.com/poanchen">github.com/poanchen</a></li>
    <li><a href="https://www.linkedin.com/in/poan-baron-chen-a00aa655">linkedin.com/poanchen</a></li>
  </ul>
  </footer>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script src="/js/googleAnalytics.js"></script>
</body>

</html>